{% extends 'base.html' %}

{% block title %}Tutor -- PUNetwork{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/blog.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <h1>Search Result for CS182</h1>
  <div class="blog">
    {% for entry in entries %}
      <article>
        <h2><a href="/blog/{{ cs180 }}/">{{ entry.title }}</a></h2>
        <ul>
          <li>{{ entry.start_publication|date:"D d M Y" }}</li>
          <li><a href="/{{ entry.created_by.username }}/">{{ entry.created_by.profile.get_screen_name }}</a></li>
        </ul>
        <div class="content">
          {{ entry.format_content|safe }}
        </div>
      </article>
    {% endfor %}
  </div>


<html>

<body>
<h1>Michael Crawford</h1>
<p>Descirption: I am a Mechanical Engineering Honors student at Purdue University and will be a sophomore in the fall. I considered majoring in mathematics, computer science, and economics. Math and science courses are areas I am very strong in.</p>

<p>Available For: In-person and Online Tutoring</p>
<p>Subject/Courses: Math, AP Physics C, Physics, Calculus, AP Chemistry</p>
<p>Price: $20/hour</p>
</body>


</html>
{% endblock content %}