{% extends 'base.html' %}

{% block title %}Tutor -- PUNetwork{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/blog.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <h1>Search Result for CS240</h1>
  <div class="blog">
    {% for entry in entries %}
      <article>
        <h2><a href="/blog/{{ cs180 }}/">{{ entry.title }}</a></h2>
        <ul>
          <li>{{ entry.start_publication|date:"D d M Y" }}</li>
          <li><a href="/{{ entry.created_by.username }}/">{{ entry.created_by.profile.get_screen_name }}</a></li>
        </ul>
        <div class="content">
          {{ entry.format_content|safe }}
        </div>
      </article>
    {% endfor %}
  </div>


<html>

<body>
<h1>Aurelio Medina</h1>
<p>Descirption: I am a Computer Science student at Purdue University in West Lafayette, Indiana. I am currently taking Systems Programming (CS252), and Introduction to Analysis of Algorithms(CS381). I am familiar with languages such as Java, C, C++, MIPS and x86 assembly languages. And had used MATLAB in previous classes.</p>

<p>Available For: In-person</p>
<p>Subject/Courses: Computer Science</p>
<p>Price: $0/hour</p>
</body>


</html>
{% endblock content %}