{% extends 'base.html' %}

{% block title %}Tutor -- PUNetwork{% endblock %}

{% block head_extra %}
  <link href="{{ STATIC_URL }}css/blog.css" rel="stylesheet" media="screen">
{% endblock head_extra %}

{% block content %}
  <h1>Search Result for CS251</h1>
  <div class="blog">
    {% for entry in entries %}
      <article>
        <h2><a href="/blog/{{ cs180 }}/">{{ entry.title }}</a></h2>
        <ul>
          <li>{{ entry.start_publication|date:"D d M Y" }}</li>
          <li><a href="/{{ entry.created_by.username }}/">{{ entry.created_by.profile.get_screen_name }}</a></li>
        </ul>
        <div class="content">
          {{ entry.format_content|safe }}
        </div>
      </article>
    {% endfor %}
  </div>


<html>

<body>
<h1>Amrit J. </h1>
<p>Descirption: I have been mentoring a group of 5 high school students and helping them in their assignments and projects since their 9th grade. I have taught primary and secondary school children at “Teach For India” (non-profit organization) and at NSS (National Service Scheme) for 2 years during my college. I have worked as a Teaching Assistant for Computer Architecture and Digital Design courses under renown professors of Electrical & Electronics Engineering Department at NIT warangal</p>

<p>Available For: Online Tutoring Only</p>
<p>Subject/Courses: Computer Science</p>
<p>Price: $25/hour</p>
</body>


</html>
{% endblock content %}