<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joychao <joy@joychao.cc>">    
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link class="bootstrap library" rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/js/sandbox/bootstrap-2.2.0/css/bootstrap.min.css">
	<script class="bootstrap library" src="http://sandbox.runjs.cn/js/sandbox/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script class="bootstrap library" src="http://sandbox.runjs.cn/js/sandbox/bootstrap-2.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
			<form method='POST' action="/">
              {% csrf_token %}
        <section class="loginBox row-fluid">
          <section class="span7 left">
            <h2>Login</h2>
            <p><input type="text" name="username" placeholder="Username" required="required"/></p>
            <p><input type="password" name="password" placeholder="Password"  required="required" /></p>
            <section class="row-fluid">
              <section class="span8 lh30"><label></label></section>
          <section class="span1"><input type="submit" value="Sign in" class="btn btn-primary"></section>
            </section>
          </section>
          <section class="span5 right">
            <h2>No Account ?</h2>
            <section>
              <p>Just register! </p>
              <li><a href="/signup">Create Account</a></li>
              <li><a href="/user/password/reset">Forgot Password?</a></li>
              <li><a href="/change/password/">Change Password</a></li>
            </section>
          </section>

        </section>
				</form>
			<!-- /loginBox -->
    </div> <!-- /container -->
  </body>
</html>
